body {
    font-family: 'Open Sans', sans-serif;
}

/*Nav Bar*/
.navbar {
    height: 88px;
    padding: 0;
    background-color: $sub-color;
    transition: all 0.5s ease;


    .container {
        position: relative;
        height: 88px;


        .navbar-brand {
            img {
                max-height: 78px;
                padding: 10px 0;
                width: auto;
            }
        }


        ul.navbar-nav {
            float: none;

            display: inline-block;

            li.nav-item {
                display: inline-block;
                position: relative;
                float: left;
                margin-right: 20px;

                a {
                    line-height: 70px;
                    font-size: 14px;
                    font-weight: bold;
                    font-family: 'Quicksand', sans-serif;
                    text-transform: uppercase;
                    color: $white;
                    transition: 0.5s;

                }

                .dropdown-menu {
                    transition: 1s all;
                    margin-top: -5px;

                    a {
                        line-height: 30px;
                        color: lighten($color: $black, $amount: 20)
                    }
                }

                a:hover {
                    color: $main-color;
                    transition: 0.5s;
                }
            }

            li.nav-item:last-child {
                margin-right: 0;
            }

            li.active>a {

                color: $main-color !important;

            }
        }

        .main-nav-social {
            line-height: 80px;
            margin: 0 0 0 30px;
            display: inline-block;
            text-align: left;
            float: right;
            transition: all 0.3s;

            .inner-header-social {
                display: inline-block;
                vertical-align: top;
                position: relative;

                a {
                    float: left;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    color: #313131;
                    font-size: 13px;
                }

                i {
                    color: $white;
                    transition: all 0.3s;
                }

                i.fa-facebook:hover {
                    color: #0d47a1 !important;
                    transition: all 0.3s;
                }

                i.fa-twitter:hover {
                    color: #40c4ff !important;
                    transition: all 0.3s;
                }

                i.fa-instagram:hover {
                    color: #4D7A9E !important;
                    transition: all 0.3s;
                }

                i.fa-pinterest:hover {
                    color: #bd081c !important;
                    transition: all 0.3s;
                }

                i.fa-youtube:hover {
                    color: #ff0000 !important;
                    transition: all 0.3s;
                }
            }
        }
    }

    .dropdown>.dropdown-menu {
        display: none;
        transition: 1s all ease;

    }

    .dropdown:hover>.dropdown-menu {
        display: block;
        transition: 1s all ease;
    }


    #top-search {
        float: right;
        width: 20px;
        text-align: center;
        margin-left: 15px;

        a {
            font-size: 13px;
            color: $white;
            cursor: pointer;
            display: block;
            height: 80px;
            line-height: 80px;


        }

        a:hover {
            color: $main-color;
            transition: all 0.3s;
        }

        .show-search {
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            height: 100%;
            background: $sub-color;
            text-align: left;
            z-index: 200;
            display: none;




            #searchform {
                input.search-input {
                    height: 100%;
                    padding: 26px 35px 26px 0;
                    border: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 3;
                    color: $white;
                    line-height: 28px;

                    background: none;
                    font-weight: normal;
                    letter-spacing: 1px;
                    font-size: 13px;


                }

                input.search-input::placeholder {
                    color: $main-color;
                }

            }

            .close-search {
                height: 100%;

                position: absolute;
                width: 20px;
                display: inline-block;
                right: 16px;
                top: 3px;
                z-index: 5;
                text-align: center;
                font-size: 16px;
                cursor: pointer;
                color: $white;
                transition: all 0.3s;
            }

            .close-search:hover {
                color: $main-color;
                transition: all 0.3s;
            }

            #searchform #s:focus {
                outline: none;
            }
        }
    }

}

.navbar-light .navbar-toggler {
    float: left;
    line-height: 60px;
    text-align: center;
    color: $white;
    font-size: 21px;
    cursor: pointer;
    transition: color 0.3s;
    border: none;
}

.navbar-light .navbar-toggler:hover {
    color: $main-color;
}

.navbar-light .navbar-toggler:focus {
    outline: none;
}

.open-sidebar-nav #sidebar-nav {
    left: 270px;
}

.open-sidebar-nav #close-sidebar-nav {
    left: 270px;
    opacity: 1;
    visibility: visible;
}


#close-sidebar-nav {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    text-decoration: none;
    top: 0;
    left: 0;
    font-size: 1.4em;
    color: #313131;
    padding: 10px;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    right: 0;
    z-index: 99996;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#sidebar-nav {
    position: fixed;
    font-family: 'Quicksand', sans-serif;
    top: 0;
    height: 100%;
    z-index: 99997;
    width: 270px;
    overflow-y: auto;
    padding: 30px 20px 20px;
    background: #ffffff;
    left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transform: translateX(-270px);
    -webkit-transform: translateX(-270px);
    -moz-transform: translateX(-270px);

    .menu {
        margin: 0;
        list-style: none;
        padding-inline-start: 0px;

        li.hasChild::before {

            float: right;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: "\f0d7";
            position: relative;
            left: 0px;
            top: 8px;

        }

        li {
            display: block;
            border-bottom: 1px solid #DEDEDE;
            padding: 0;
            margin-bottom: 0;

            a {
                font-weight: bold;
                font-family: 'Quicksand', sans-serif;
                font-size: 13px;
                letter-spacing: 0;
                text-transform: uppercase;
                color: #313131;
                margin: 0;
                position: relative;
                padding: 13px 0 13px 0;
                display: block;
                line-height: 1.3em;
                transition: 0.3s all;
            }

            a:hover {
                text-decoration: none;
                color: $main-color;
                transition: 0.3s all;
            }

            ul {
                padding-left: 20px;

                li:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

#sidebar-nav::-webkit-scrollbar {
    width: 6px;
    background: #848484;
}

#sidebar-nav::-webkit-scrollbar-corner {
    background-color: #DEDEDE;
}

#sidebar-nav::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#sidebar-nav-logo {
    padding: 0 20px 20px;
    text-align: center;
    margin: 0 0 15px 0;
    position: relative;

    img {
        max-width: 100%;
        vertical-align: top;
        height: auto;
    }
}

#sidebar-nav-logo:before {
    content: "";
    width: 60px;
    height: 1px;
    background: $main-color;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
}

.header-social {
    display: block;
    text-align: center;

    .inner-header-social {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }

    a {
        float: left;
        display: inline-block;
        vertical-align: top;
        margin-right: 13px;
        font-size: 13px;

        i.fa-facebook {
            color: #0d47a1 !important;
        }

        i.fa-twitter {
            color: #40c4ff !important;
        }

        i.fa-instagram {
            color: #4D7A9E !important;
        }

        i.fa-pinterest {
            color: #bd081c !important;
        }

        i.fa-youtube {
            color: #ff0000 !important;
        }
    }
}

.header-social .sidebar-nav-social {
    margin: 0 0 43px 0;
    padding: 0 10px;
}

.saatvik-page-heading {
    background-image: url(../img/image1.jpg);
    background-position: center center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 0px 180px 0px;
    position: relative;

    .heading-background-overlay {
        background-color: transparent;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, $main-color 100%);
        opacity: 0.85;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    .saatvik-heading-container {

        margin-right: auto;
        margin-left: auto;
        position: relative;

        .saatvik-heading-row {
            width: 100%;
            color: $white;
            font-size: 15px;
            text-align: center;

            h1 {
                color: $sub-color;
                font-family: 'Quicksand', sans-serif;
                font-size: 45px;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}

/* Slider Area*/
.slider-area {
    background-image: url(../img/2.jpg);
    background-position: center center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 0px 180px 0px;
    position: relative;

    .slider-background-overlay {
        background-color: transparent;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $main-color 100%);
        opacity: 0.85;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }



    .slider-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;

        .slider-row {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            color: $white;
            font-size: 15px;

            .slider-left {
                width: 150%;
            }

            .slider-element-wrap {
                align-content: center;
                align-items: center;
                float: right;
                text-align: center;

                .slider-fancy-heading-inner {
                    margin-bottom: 20px;

                    .slider-heading-title {
                        color: #ffffff;
                        font-family: "Damion", Sans-serif;
                        font-size: 60px;
                        font-weight: normal;
                        line-height: 1em;
                        letter-spacing: 0px;
                    }

                    .slider-heading-content {
                        color: $white;
                        font-size: 18px;
                        line-height: 1.5em;
                        margin-top: 20px;
                    }
                }


            }

            .slider-icon-wrapper {
                margin-bottom: 20px;

                .slider-icon {
                    i {
                        font-size: 50px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.slider-align-icon-right {
    margin-left: 12px;

}

.slider-button-text {
    display: inline-block;
    text-decoration: inherit;
}


/* Introduction Area */
.introduction {

    .slider-shape-bottom {
        margin-top: -60px;
        position: absolute;
        transform: rotate(180deg);
        overflow: hidden;
        width: 100%;
        line-height: 0;
        direction: ltr;
        z-index: 99;

        svg {
            height: 60px;
            display: block;
            width: -webkit-calc(100% + 1.3px);
            width: calc(100% + 1.3px);
            position: relative;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);

            .shape-fill {
                fill: $white;
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
            }
        }

    }

    .saatvik-introduction-image {
        img {
            width: 50%;
        }
    }
}

.saatvik-heading-inner {
    .saatvik-heading-title {
        font-size: 39px;
        letter-spacing: 0px;
        color: $sub-color;
        margin-top: 0;
        margin-bottom: 5px;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }

    .saatvik-heading-content-intro {
        color: lighten($color: $black, $amount: 50);
        font-size: 16px;
        line-height: 1.5em;
        margin-top: 20px;
        clear: both;

    }

    .saatvik-heading-content {
        color: lighten($color: $black, $amount: 50);
        font-size: 16px;
        line-height: 1.5em;
        margin-top: 20px;
        clear: both;
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;

    }


}

.name-ceo {
    font-weight: bold;
    color: $main-color;
    font-size: 18px;
}

.saatvik-button-wrapper {

    margin-top: 50px;

    .saatvik-button {

        font-family: "Lato", Sans-serif;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 6px 6px 6px 6px;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, $main-color 50%, $sub-color 50%);
        -webkit-transition: background-position 0.5s;
        -moz-transition: background-position 0.5s;
        transition: background-position 0.5s;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
        padding: 20px 40px;
        color: $white;

    }

    .saatvik-button:visited {
        color: $white;
    }

    .saatvik-button:hover {
        background-position: 0 -100%;
        text-decoration: none;
    }
}

.saatvik-icon {
    font-size: 36px;
    color: $main-color;
}

/* Sticky Nav */
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    height: 60px;
    box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    transition: all 0.5s ease;


    .container {
        height: 60px;

        .navbar-brand {
            padding-top: 0;
            padding-bottom: 0;

            img {
                max-height: 60px;
                padding: 3px 0;
            }

        }

        ul.navbar-nav {
            li.nav-item {
                a {
                    line-height: 44px;

                }
            }

        }

        .main-nav-social {
            line-height: 60px;

        }

        #top-search {
            a {
                height: 60px;
                line-height: 60px;
            }

            .show-search {
                .close-search {
                    line-height: 60px;
                    top: 0;

                }
            }
        }


    }
}

/* Products Area */
.saatvik-products {
    background: lighten($color: $black, $amount: 98);
}

.saatvik-products-tab {

    .nav {
        .nav-item {

            .nav-link {
                padding: 20px;
                font-family: 'Quicksand', sans-serif;
                font-weight: 700;
                border-bottom: 4px solid lighten($color: $black, $amount: 90);
                color: #111111;
                transition: 0.3s border;
                font-size: 18px;

            }

            .nav-link:hover {
                border-color: $main-color;
                transition: 0.3s border;
            }

            .active {
                border-bottom: 4px solid $main-color;
                color: $main-color;

            }
        }
    }

    .tab-content {
        .tab-pane {
            color: lighten($color: $black, $amount:30);
            font-size: 16px;
            line-height: 25px;
            text-align: justify;
        }

        ul {
            li {
                list-style: none;
                font-weight: bold;
                margin-bottom: 15px;
                color: lighten($color: $black, $amount:50);
                font-size: 18px;

                i {
                    color: $main-color;
                    font-size: 15px;
                }
            }
        }
    }
}

.saatvik-card {
    .saatvik-card-inner {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), var(--image-url) center center;
        background-repeat: no-repeat;
        background-size: cover;
        //@warn: #fff;

        align-items: center;
        justify-content: center;
    }



    h3 {
        font-size: 24px;
        letter-spacing: 0px;
        color: $white;
        margin-top: 0;
        margin-bottom: 5px;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }

}


.testimonials {
    background: lighten($color: $black, $amount: 96);

    .slider-shape-bottom {
        bottom: -1px;
        overflow: hidden;
        width: 100%;
        line-height: 0;
        direction: ltr;

        svg {
            height: 60px;
            display: block;
            width: -webkit-calc(100% + 1.3px);
            width: calc(100% + 1.3px);
            position: relative;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);

            .shape-fill {
                fill: $white;
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
            }
        }

    }

    .saatvik-icon {

        i {
            font-size: 24px;
            border: 2px solid #f6701b;
            width: 48px;
            height: 48px;
            margin-left: auto;
            margin-right: auto;
            line-height: 44px;
        }
    }

    .testimonial-text {
        font-family: 'Playfair Display', serif;
        font-size: 23px;
        font-style: italic;
        line-height: 1.5;
        color: #111111;
        clear: both;
        position: relative;
        text-align: center;
    }

    .testimonial-rating {

        i {
            color: $yellow;
        }
    }

    .testimonial-author {
        width: 60px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        font-size: 18px;
        text-transform: uppercase;
        color: $main-color;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'Quicksand', sans-serif;

    }
}


.favourite-products {
    .owl-favourite {
        .favourite-single {
            .favourite-image {
                width: 60%;
                margin: 0 auto;
            }

            .favourite-title {
                font-family: 'Quicksand', sans-serif;
                font-size: 20px;
                ;
            }
        }
    }
}

footer {
    .company-info {
        background: $sub-color;

        .slider-shape-bottom {
            bottom: -1px;
            overflow: hidden;
            width: 100%;
            line-height: 0;
            direction: ltr;

            svg {
                height: 60px;
                display: block;
                width: -webkit-calc(100% + 1.3px);
                width: calc(100% + 1.3px);
                position: relative;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);

                .shape-fill {
                    fill: $white;
                    -webkit-transform-origin: center;
                    -ms-transform-origin: center;
                    transform-origin: center;
                    -webkit-transform: rotateY(0deg);
                    transform: rotateY(0deg);
                }
            }
        }

        h4 {
            font-weight: bold;
            font-family: 'Quicksand', sans-serif;
            font-size: 30px;
            color: $white;
            margin-bottom: 30px;
        }

        .address {


            ul.address-bar {
                color: $white;
                padding-inline-start: 0;

                li {
                    display: flex;
                    list-style: none;
                    font-size: 15px;
                    margin-bottom: 13px;

                    a {
                        display: flex;
                        color: $white;
                    }

                    a:hover {
                        color: $main-color;
                        text-decoration: none;
                    }

                    i {
                        width: 20px;
                        margin-right: 15px;
                        padding-top: 4px;
                        color: $main-color;
                    }
                }

                li:last-child {
                    margin-bottom: 0;
                }


            }



        }

        .quick-links {
            ul {
                color: $white;
                padding-inline-start: 0;

                li {
                    display: flex;
                    list-style: none;
                    font-size: 15px;
                    margin-bottom: 13px;

                    a {
                        display: flex;
                        color: $white;
                    }

                    a:hover {
                        color: $main-color;
                        text-decoration: none;
                    }
                }
            }
        }

        .social {

            ul.social-icons {
                color: $white;
                padding-inline-start: 0;
                font-size: 24px;

                li {
                    display: inline-block;
                    margin-right: 15px;


                    a {
                        .fa-facebook {
                            background: #0d47a1 none repeat scroll 0 0;
                            border-radius: 100%;
                            box-shadow: 0 0 6px 0 rgba(69, 69, 69, 0.24);
                            color: $white;
                            display: inline-block;
                            font-size: 14px;
                            height: 35px;
                            line-height: 35px;
                            margin-right: 8px;
                            text-align: center;
                            transition: all 0.3s ease 0s;
                            width: 35px;
                        }

                        .fa-instagram {
                            background: radial-gradient(circle farthest-corner at 35% 90%, #ffa100, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #efa11c, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #8f44c7, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d43178, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !important;
                            border-radius: 100%;
                            box-shadow: 0 0 6px 0 rgba(69, 69, 69, 0.24);
                            color: $white;
                            display: inline-block;
                            font-size: 14px;
                            height: 35px;
                            line-height: 35px;
                            margin-right: 8px;
                            text-align: center;
                            transition: all 0.3s ease 0s;
                            width: 35px;
                        }

                        .fa-youtube {
                            background: #ff0000 !important;
                            border-radius: 100%;
                            box-shadow: 0 0 6px 0 rgba(69, 69, 69, 0.24);
                            color: $white;
                            display: inline-block;
                            font-size: 14px;
                            height: 35px;
                            line-height: 35px;
                            margin-right: 8px;
                            text-align: center;
                            transition: all 0.3s ease 0s;
                            width: 35px;
                        }

                        .fa:hover {
                            opacity: 0.8;
                            transition: all 0.3s ease 0s;
                        }
                    }


                    i {}
                }

                li:last-child {
                    margin-right: 0;
                }

            }
        }
    }

    .copyright {
        background: $main-color;

        a {
            color: $white;
            text-decoration: none;
            transition: 0.5s all ease;
        }

        a:hover {
            color: $sub-color;
            transition: 0.5s all ease;

        }

        .site-by {
            font-family: 'Quicksand', sans-serif;
            text-align: right;

        }
    }
}

.gallery-area {
    margin-left: 0;
    margin-right: 0;
    position: relative;

    /* gallery-area */


    .gallery-wrapper {
        overflow: hidden;
    }

    .gallery-img {
        position: relative;
    }

    .gallery-img>a {
        position: relative;
        display: block;
    }

    .gallery-img>a::before {
        background: #000000 none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999;
        transition: .3s;
    }

    .gallery-wrapper:hover .gallery-img>a::before {
        opacity: .5;
    }

    .gallery-img a img {
        width: 100%;
        transition: .3s;
    }

    .gallery-wrapper:hover .gallery-img a img {
        transform: scale(1.2) rotate(7deg);
    }

    .gallery-icon {
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 55%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
        z-index: 999;
    }

    .gallery-icon>a {
        color: #fff;
        font-size: 30px;
        transition: .3s;
        text-decoration: none;
        padding: 38%;
    }

    .gallery-icon>a:hover {
        color: $main-color;
    }

    .gallery-wrapper:hover .gallery-icon {
        opacity: 1;
        top: 50%;
    }

    /* course-list-area */
    .course-list-area {}

    .course-list-wrapper {}

    .course-list-img {
        float: left;
    }

}

// .overlay {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//         height: 100%;
//     width: 100%;
//     opacity: 0;
//     transition: .3s ease;
//     background-color: red;
// }
// .overlay:hover{
//     opacity:0.7;
// }


button:focus {
    outline: none;
}

.slogan {
    background: $main-color;

    h2 {
        font-family: 'Quicksand', sans-serif;
        color: $white;
    }
}

.contact-form {
    overflow: hidden;

    p.name,
    p.email,
    p.subject {
        width: 33.333333%;
        padding: 0 14px;
        float: left;
        display: inline-block;
        margin: 0;

        span {
            position: relative;

            input {

                padding: 12px 20px;
                max-width: 500px;
                border: 1px solid #DEDEDE;
                margin-bottom: 28px;
                font-size: 12px;
                width: 100%;
                font-weight: normal;
                max-height: 50px;
                background: none;
            }

            input:focus {
                outline: none;
            }
        }
    }

    p.name {
        padding-left: 0;
    }

    p.subject {
        padding-right: 0;
    }

    p.message {
        clear: both;

        span {
            position: relative;

            textarea {
                padding: 15px 20px;
                border: 1px solid #DEDEDE;
                width: 100%;
                height: 120px;
                font-size: 12px;
                color: #313131;
                margin-bottom: 28px;
                line-height: 20px;
                font-weight: 500;
                outline: none;
                vertical-align: top;
            }
        }
    }

    p.submit {
        text-align: center;
        clear: both;

        input {
            font-weight: bold;
            font-family: 'Quicksand', sans-serif;
            text-transform: uppercase;
            border-radius: 0;
            font-size: 14px;
            color: $white;
            padding: 12px 20px;
            display: inline-block;
            background-size: 100% 200%;
            background-image: linear-gradient(to bottom, $main-color 50%, $sub-color 50%);
            -webkit-transition: background-position 0.5s;
            -moz-transition: background-position 0.5s;
            transition: background-position 0.5s;
            cursor: pointer;
            width: auto;
            min-width: 120px;
            text-align: center;
            margin: 0;
            border: none;

        }

        input:hover {
            background-position: 0 -100%;
            text-decoration: none;
        }
    }
}