$main-color: #f6701b;
$sub-color: #01163a;
.bg-sub{
  background-color:lighten($color: $main-color, $amount: 44);
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;